// Specific CSS for your home-page
// TODO - PUT IN CONDITIONALS FOR SCREEN WIDTH FOR OTHER DEVICES i.e phones etc

.container_page {
  height: 100vh;

}
.left_side {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 50px;
}
.search {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-left: 170px;
}

// ---------------------------------------------------------------

.right_side {
  background-color: #2dd99c;
  color: white;

  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;

  padding: 60px;

}
.signinarea {
  display: flex;
  flex-direction: row;
}
.signin {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
}
.textdescription {
  flex-direction: column;
  align-items: center;
}

.inputs {
  background-color: transparent;
  border-radius: 20px;
  color: white;
}

.search-container {
  position: relative;
  .form-control {
    padding-right: 88px;
    padding-left: 20px;
    border-radius: 50px;
  }
  .button_default {
    position: absolute;
    margin: 0;
    right: 9px;
    top: calc(50% - 22px);
  }
}

.fridgeim {
  width: 520px;
}
