// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "recipes_show";
@import "new_recipe";
@import "recipe_edit";

// this page is search results and links to the indexhtml
.card-grid {
  position: relative;
  margin-left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  a {
    text-decoration: none;
  }
}

.pagetitle {
  position: relative;
  color: #125712;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  font-size: 36px;

}

.side_bar {
  position: fixed;
  margin-top: -45px;
  margin-left: -80px;

  width: 25%;
  height: 100%;

  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(51, 51, 51, 0.288);
}

.addcomponenet {
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.288);

  background-color: white;
  border: 2px solid #125712;

  padding: 15px;
  width: 300px;
  min-height: 250px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.addcomponenet h2 {
color: #125712;
}

.retractablecontainer .top {
  border-radius: 20px 20px 0px 0px;
  background-color: #d92d6a;
  color: white;
  padding:  0px 20px 0px 20px;
  min-width: 200px;
  width: fit-content;
  min-height: 50px;
  margin-left: 30px;
  font-size: 24px;
  border: none;
  margin-top: 10px;
}
.retractablecontainer .content {
  border-radius: 0px 30px 30px 30px;
  background-color: white;
  border: 2px solid #d92d6a;
  color: #454545;
  padding: 20px;
  width: 300px;
  min-height: 150px;
  margin-left: 30px;
  align-items: center;
  font-size: 20px;
}

.button_default btn-plus {
  position: unset;
}
