// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "recipes_show";

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pagetitle {
  color: #2DD99C;
  margin: 40px 0px 15px 15px;
}
