.map-title {
  position: relative;
  justify-content: center;

  padding: 0px 30px;
  margin-bottom: 15px;
  margin-left: 27%;

  color: #177152;
  font-size: 40px;
  font-weight: 700;
}

.map-text {
  text-align: center;
  color: #7b7a7a;
}
