$green-lining: #177152;


// Profile Details, Avatar ansd Icons//
.profile-info {
  padding-top: 15px;
  margin-top: -40px;
  img {
    border-radius: 50%;
    height: 100px;
    float: left;
    margin-right:30px;
    margin-top:15px;

  }
  p {
      margin-bottom: 0;
      font-size: 40px;
      font-weight:300;
      color: #177152;
  }
}

// Icons//
.profile-icons {
  width: 70px;
  margin-left: 130px;
  i {
  font-size: 25px;
 }
 .fa-instagram:hover {
  background-color: grey;
  border-radius: 8px;
 }
 .fa-facebook:hover {
  background-color: grey;
  border-radius: 50%;
 }
}

.profile-details {
  h5 {
    float: left;
    color:#177152;
   }
}

//end//
.avatar-profile {
  border-radius: 50%;
  width: 100px;
  box-shadow: 0px 0px 10px black;
}
.profile-bio {
  padding: 20px;
  margin-left: 110px;
  p {
    overflow: auto;
    height: 670px;
    margin-top: -10px;
    background-color: rgba(223, 222, 222, 0.3);
    border-radius: 0px 30px 30px 30px;
    border: solid;
    border-color: $green-lining;
    padding: 10px;
    }
    h2{
      border-radius:20px 20px 0px 0px;
      background-color: $green-lining;
      color: $green-lining;
      padding: 0px 20px 0px 20px;
      border-bottom: none;
      align-items: center;
      width: fit-content;
      min-height: 50px;
       min-width: 150px;
      font-size: 30px;
    color: white;
      border: solid #177152;
      width: 40%;
    }
  }


//end //

// My Favourites Container//
.profile-favourites {
  margin-left: 110px;
  h2{
    border-radius:20px 20px 0px 0px;
    background-color: $green-lining;
    color: $green-lining;
    padding: 0px 20px 0px 20px;
    border-bottom: none;
    align-items: center;
    width: fit-content;
min-height: 50px;
min-width: 150px;
font-size: 30px;
color: white;
    border: solid #177152;
  }
  }

.card-grid-favourites {
  margin-top: -8px;
  grid-template-columns: 1fr;
  overflow: auto;
  height: 670px;
  width: 105%;
  background-color: rgba(223, 222, 222, 0.3);
  border-bottom-left-radius: 30px;
  border: solid;
  border-color: $green-lining;
}
// end //

// My Recipes container //
.profile-recipes {
  padding-top: 30px;
  a{
    text-decoration: none;
    list-style-type: none;
  }
  h2 {
    border-radius:20px 20px 0px 0px;
    background-color: $green-lining;
    padding: 0px 20px 0px 20px;
    border-bottom: none;
    float:left;
    align-items: center;
    width: fit-content;
min-height: 50px;
min-width: 150px;
font-size: 30px;
color: white;
    border: solid #177152;
  }
}

#recipeCarousel {
  width: 110%;
  background-color: rgba(223, 222, 222, 1);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border: solid;
  border-color: $green-lining;
  margin-top: 42px;
  height: 535px;
}


// end //

// Buttons on Profile page//

.button_default_add {

h2 {
    border-radius:20px 20px 0px 0px;
    background-color: $green;
    margin-left: 5px ;
    transition-duration: 0.4s;
    border: solid $green;
    border-bottom: none;
  padding: 0px 20px 0px 20px;
  border-bottom: none;
  align-items: center;
  width: fit-content;
  font-size: 30px;
  color: white;
  min-height: 50px;
  min-width: 150px;
  margin-top: -1px;
  margin-left: 5px;
  &:hover {
    color: $green;
    &:hover {
      background-color: white;
      border: 2px solid $green;
      color: $green;
    }
  }
  }
}


//end//

.carousel-control-prev {
width: 5%;
border-bottom-left-radius: 30px;

&:hover {
  background-color:white;
  color: #177152;
}
}
.carousel-control-next{
  width: 5%;;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  &:hover {
    background-color: white;
    color: #177152;
  }
  }

.manage-account {
  margin-left: 5px;
}
