.showtitle h1 {
  color: #177152;

}
.showtitle h5 {
  color: #656565;

}
.recipe-image {
  border-radius: 30px;
  width: 100%;
  height: 420px;
  object-fit: cover;
}

 .bottomhalf {
  margin-top: 40px;
 }

.index_recipecard .top {
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background-color: #177152;
  color: white;
  padding:  0px 20px 0px 20px;
  width: fit-content;
  min-height: 50px;
  min-width: 150px;
  font-size: 30px;
}
.index_recipecard .content {
  border-radius: 0px 30px 30px 30px;
  background-color: white;
  border: 2px solid #177152;
  color: #656565;
  min-height: 150px;

  margin-bottom: 20px;
  margin-top: -10px;
  list-style: none;
  text-align: start;
  font-weight: 600;
}

.index_recipecard .m {
  padding-left: 20px;
  padding-right: 5px;
  font-size: 20px;
  width: 100%;
  height: 400px;
}

.index_recipecard .i {
  width: 90%;
  padding: 30px;
  font-size: 22px;
  max-height: 400px;
  column-gap: 20px;
  column-width: 200px;
  column-count: auto;
  float: left;
}

.imagediv {
  position: relative;
}

.favoriting {
  position: absolute;
  top: 10px;
  right: 65px;
  z-index: 1;
  font-size: 40px;
}

.fa-heart {
  color: #d92d6a;
}

.fa-star {
  color: #d92d6a;
  font-size: 20px;
}

.icon-large {
  font-size: 35px;
  margin-right: 10px;
  color: #177152;
}

.avatar-bordered {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.allergens_show {
  list-style-type: none;
  color: #d92d6a;
  font-size: 18px;
  font-weight: 550;
  text-align: end;
  font-style: oblique;

  display: flex;
  column-gap: 8px;
  flex-direction: row;
  margin-bottom: 15px;
}

.infos h5 {
color: #177152;
font-size: 18px;
margin-bottom: 0px;
}

.recipes-content {
  display: flex;
  justify-content: space-around;
}
