<div class= "d-flex recipe-edit-container" data-controller="new-recipe">
  <div>
    <div></div>

     <div>
      <div id="unique_id">
          <turbo-frame id="frame_id">
            <ul data-new-recipe-target="ingredientsList">
              <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <li><%= recipe_ingredient.ingredient.name %></li>
             <% end %>
            </ul>
          </turbo-frame>

          <a href="/recipes/<%= @recipe.id %>/edit" data-turbo-frame="frame_id" style="display:none;" data-new-recipe-target="reload">Load Content</a>
        </div>
        <%= render "recipe_ingredients/new" %>
      </div>
    </div>
</div>
