
<%# this page is search results and links to the recipe card scss %>
<div class="container">
  <div class="wrapper d-flex">
    <div class="row">
      <div class="col-2">
        <div class="container_sidebar d-flex flex-column">
          <%= link_to "New Recipe", new_recipe_path %>
          <p>Allergens</p>
          <p>Cuisine</p>
        </div>
      </div>
        <div class="col-10">
          <h1 class="pagetitle">Sustainably Scrumptious Recipes</h1>
          <div class="card-grid">
                <% @recipes.each do |recipe| %>
                  <%= link_to recipe_path(recipe) do %>
                  <%= render "shared/cardrecipe", recipe: recipe %>
                  <% end %>
                <% end %>
          </div>

      <a href="#"><button class="button_default">Back To Top</button></a>
    </div>
    </div>
  </div>
</div>
