<%# this page is search resultshs and links to the recipe card scss %>

<div>
  <% @recipes.each do |recipe| %>
   <%= render "shared/cardrecipe", recipe: recipe %>
  <% end %>
</div>

<%= link_to "New Recipe", new_recipe_path %>
