
<%# this page is search results and links to the recipe card scss %>

<div data-controller="filtered-index" class="container" >

  <div class="wrapper d-flex">
    <div class="row">
      <div class="side_bar col-2" style="overflow-y: scroll;">
          <div class="addcomponenet">
            <h2 class="top"><strong>add. </strong>+</h2>
            <div class="content">
              <div class= "d-flex">
                <%= render "shared/search_bar_index"%>
              </div>
                <a><button class="button_default search">carrot x</button></a>
                <a><button class="button_default search">egg x</button></a>
            </div>
          </div>


            <div class="accordion" id="accordionPanelsStayOpenExample">

              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                   <i class="fa-solid fa-seedling"></i> Allergens
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body content">
                            <%# <label class="container">One
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span> %>
                            </label>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="vegetarian">
                            <label class="tick"> Vegetarian</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="vegan">
                            <label class="tick"> Vegan</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="gluten_free">
                            <label class="tick"> Gluten Free</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="dairy_free">
                            <label class="tick"> Dairy Free</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="egg_free">
                            <label class="tick"> Egg Free</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="nut_free">
                            <label class="tick"> Nut Free</label><br>

                  </div>
                </div>
              </div>

              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <i class="fa-solid fa-bowl-food"></i> Cuisine

                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body content">
                          <%# TODO - ADD ALLERGENS %>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="british">
                            <label class="tick"> British</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="chinese">
                            <label class="tick"> Chinese</i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="french">
                            <label class="tick"> French</i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="indian">
                            <label class="tick"> Indian </i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="italian">
                            <label class="tick"> Italian </i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="japanese">
                            <label class="tick"> Japanese </i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="mexican">
                            <label class="tick"> Mexican </i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="spanish">
                            <label class="tick"> Spanish </i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="thai">
                            <label class="tick"> Thai </i></label><br>
                  </div>
                </div>
              </div>


              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <i class="fa-solid fa-traffic-light"></i>Difficulty

                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body content">
                          <%# TODO - ADD ALLERGENS %>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="easy">
                            <label class="tick" > Easy </label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="medium">
                            <label class="tick"> Medium</i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="hard">
                            <label class="tick"> Hard</i></label><br>
                  </div>
                </div>
              </div>

            </div>

        </div>

        <div class="col-10">
          <h1 class="pagetitle">Sustainably Scrumptious Recipes</h1>
          <div class="card-grid" data-filtered-index-target='container'>
              <%= render "shared/cardrecipe", recipes: @recipes %>
          </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end m-3">
<%= link_to "Back to top", recipes_path, class: "button_default" %>
</div>
</div>
