
<%# this page is search results and links to the recipe card scss %>

<div data-controller="filtered-index" class="container" >

  <div class="wrapper d-flex">
    <div class="row">
      <div class="side_bar col-2" style="overflow-y: scroll;">
          <div class="addcomponenet">
            <h2 class="top"><strong>add. </strong>+</h2>
            <div class="content">
              <div class= "d-flex">
                <%= render "shared/search_bar_index"%>
              </div>
                <a><button class="button_default search">carrot x</button></a>
                <a><button class="button_default search">egg x</button></a>
            </div>
          </div>


            <div class="accordion" id="accordionPanelsStayOpenExample">

              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                   <i class="fa-solid fa-seedling"></i> Allergens
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body content">
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="gluten_free">
                            <label for="vehicle2"> Gluten Free</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="dairy_f">
                            <label for="vehicle3"> Dairy Free</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="vegetarian">
                            <label for="vehicle3"> Vegitarian</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox" id="vegan">
                            <label for="vehicle3"> Vegan</label><br>

                  </div>
                </div>
              </div>

              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <i class="fa-solid fa-bowl-food"></i> Cuisine

                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body content">
                          <%# TODO - ADD ALLERGENS %>
                            <input type="checkbox"><label for="vehicle2"> British</label><br>
                            <input type="checkbox"><label for="vehicle3"> Indian</i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Chinese</i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Thai </i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Japenese </i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Italian </i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Meditarian </i></label><br>
                            <input type="checkbox"><label for="vehicle3"> Greek </i></label><br>
                  </div>
                </div>
              </div>


              <div class="retractablecontainer">
                <h2 class="accordion-header">
                  <button class="accordion-button top collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <i class="fa-solid fa-traffic-light"></i>Difficulty

                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body content">
                          <%# TODO - ADD ALLERGENS %>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox">
                            <label for="vehicle2"> Easy</label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox">
                            <label for="vehicle3"> Medium</i></label><br>
                            <input type="checkbox" data-action="click->filtered-index#sendRequest" data-filtered-index-target="checkbox">
                            <label for="vehicle3"> Hard</i></label><br>
                  </div>
                </div>
              </div>



            </div>



        </div>


        <div class="col-10">
          <h1 class="pagetitle">Sustainably Scrumptious Recipes</h1>
          <div class="card-grid" data-filtered-index-target='container'>
              <%= render "shared/cardrecipe", recipes: @recipes %>
          </div>

      <a href="#"><button class="button_default">Back To Top</button></a>
    </div>
  </div>
</div>
</div>
