<%# TODO - what are the buttons we need? (Replace with logos later) %>
<%# styling = white with green %>
  <%# see reviews %>
  <a href="#"><button class="button_default special">See Reviews</button></a>
  <%# add reviews %>
  <a href="#"><button class="button_default">Add Review +</button></a>
  <%# add recipes + %>
  <a href="#"><button class="button_default">Add Recipe +</button></a>
  <%# log out  %>
  <a href="#"><button class="button_default">Log Out</button></a>
  <%# see more %>
  <a href="#"><button class="button_default">See More</button></a>
  <%# < Back  %>
  <a href="#"><button class="button_default">Back</button></a>
  <%# edit (after first one) %>
  <a href="#"><button class="button_default">Edit</button></a>
  <%# save %>
  <a href="#"><button class="button_default">Save</button></a>
  <%# + (steps) %>
  <a href="#"><button class="button_default round">+</button></a>
  <%# go-o (for sign in) %>
  <a href="#"><button class="button_default">GO <i class="fa-regular fa-circle-right"></i></button></a>
<%# styling = green with white %>
  <%# GO -O %>
  <a href="#"><button class="button_default green">GO <i class="fa-regular fa-circle-right"></i></button></a>
  <%# edit (first one) %>
  <a href="#"><button class="button_default green">Edit</button></a>
  <%# done  %>
  <a href="#"><button class="button_default green">Done</button></a>
  <%# + (ingredients) %>
   <a href="#"><button class="button_default green round">+</button></a>
<%# styling = other %>
  <%# <3 %>
  <%# bin %>
  <%# sign in to open your fridge %>
