<%# TODO - what are the buttons we need? (Replace with logos later) %>
<%# styling = white with green %>
  <%# see reviews %>
  <a href="#"><button class="button_default special"><strong>See Reviews</strong></button></a>
  <%# add reviews %>
  <a href="#"><button class="button_default"><strong>Add Review +</strong></button></a>
  <%# add recipes + %>
  <a href="#"><button class="button_default"><strong>Add Recipe +</strong></button></a>
  <%# log out  %>
  <a href="#"><button class="button_default"><strong>Log Out</strong></button></a>
  <%# see more %>
  <a href="#"><button class="button_default"><strong>See More</strong></button></a>
  <%# < Back  %>
  <a href="#"><button class="button_default"><strong>Back</strong></button></a>
  <%# edit (after first one) %>
  <a href="#"><button class="button_default"><strong>Edit</strong></button></a>
  <%# save %>
  <a href="#"><button class="button_default"><strong>Save</strong></button></a>
  <%# + (steps) %>
  <a href="#"><button class="button_default round"><strong>+</strong></button></a>
  <%# go-o (for sign in) %>
  <a href="#"><button class="button_default"><strong>GO </strong><i class="fa-regular fa-circle-right"></i></button></a>
<%# styling = green with white %>
  <%# GO -O %>
  <a href="#"><button class="button_default green"><strong>GO </strong><i class="fa-regular fa-circle-right"></i></button></a>
  <%# edit (first one) %>
  <a href="#"><button class="button_default green"><strong>Edit</strong></button></a>
  <%# done  %>
  <a href="#"><button class="button_default green"><strong>Done</strong></button></a>
  <%# + (ingredients) %>
   <a href="#"><button class="button_default green round"><strong>+</strong></button></a>
<%# styling = other %>
  <%# <3 %>
  <%# bin %>
  <%# sign in to open your fridge %>
