<div class="card-product">
  <%if recipe.photo.attached? %>
    <li class="text-decoration"><%= cl_image_tag recipe.photo.key %></li>
  <% else %>
    <li class="text-decoration"><%= image_tag recipe.image_url %></li>
  <% end %>
  <div class="card-product-infos">
<li class="text-decoration"><strong><%= recipe.title %></strong></li>
  <div class="allergens d-flex">
          <% if recipe.vegetarian %>
            <li>V</li>
          <% end %>
          <% if recipe.vegan %>
            <li>Ve</li>
          <% end %>
          <% if recipe.dairy_free %>
            <li>DF</li>
          <% end %>
          <% if recipe.gluten_free %>
            <li>GF</li>
          <% end %>
          </div>
   </div>
</div>
