<div class=" profile-favourites">
  <h3>My Favourite Recipes</h3>
  <div class="card-grid-favourites col-12">
    <% favorites.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <%= render "shared/cardfavourite", recipe: recipe %>
      <% end %>
    <% end %>
  </div>
</div>
