 <div class=" profile-favourites">
                <h3>Favourite Recipes</h3>
                <div class="card-grid-favourites col-12">
                  <% favorites.each do |recipe| %>
                   <%= render "shared/cardrecipe", recipe: recipe %>
                 <% end %>
            </div>
    </div>
