<div class="navbar">
  <div class="container-fluid nav-all">

    <!-- Burger Button for Sidebar -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--- end --->


    <!-- Logo in the Middle -->
    <a class="navbar-brand mx-auto logo" href="#"><%= image_tag "logo.png", alt: "Your Logo" %></a>
    <!--- end --->

    <!-- Profile Sign-in Button on the Right -->
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
      <% end %>
    </div>
  </div>
</div>
