<div class="navbar container-fluid">
  <!-- Logo in the Middle -->
  <div class= "our-logo">
    <%= link_to recipes_path, class: "navbar-brand mx-auto logo" do %>
      <%= image_tag "logo.png", alt: "Your Logo" %>
    <% end %>
  </div>
  <!--- end --->
  <!-- search bar -->
  <%# <%= render "shared/search_bar" %>
  <!--- end --->
  <!-- Profile Sign-in Button on the Right -->
  <div class="navbar-nav">
    <div class="sidebar-nav">
      <i class="burger fa-solid fa-burger fa-2xl" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" style="color: #ffffff; border: none; background-color: transparent; cursor: pointer;"></i>
    </div>
  </div>
  <!--- end --->
</div>
<div class="spacer mb-3"></div>
