  <div class="search-container">
    <%= form_with url: recipes_path, method: :get, class: "searchbar d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "Search"
        %>
     <a><button type="submit" class="button_default"> GO </button></a>
    <% end %>
  </div>

<style>
  .searchbar {
    background-color: rgba(128, 128, 128, 0.145);
    border-radius: 20px;
    min-width: 200px;
    height: 60px;

  }
</style>
