<div class="search-containeri">
  <%= form_with url: recipes_path, method: :get, class: "d-flex search-containeri" do %>
    <%= text_field_tag :query ,
          params[:query],
          class: "form-control searchbari me-2",
          placeholder: "Search",
          data: { filtered_index_target: "search" }
    %>
    <a><button type="submit" class="button_default btn-plus green round" data-action="click->filtered-index#sendRequest"><i class="fa-solid fa-plus"></i></button></a>
  <% end %>
</div>

<style>
  .searchbari {
    border-radius: 30px;
    width: 190px;
    height: 50px;
    font-size: 18px;
    color: #177152;
  }

  .search-containeri {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
</style>
