<%# <div class="d-flex">
        <div class="signinarea d-flex">
          <%= cl_image_tag("https://res.cloudinary.com/dyqyteloe/image/upload/v1709907136/logo_login_afv6uo.png",) %>
          <%# <div class="signin">
            <p>sign in to:</p>
            <h3>Open your</h3>
            <h3><b>frydg.</b></h3>
            <form action="action_page.php" method="post">
              <li><input class="inputs" type="text" placeholder="Username" name="uname" required></li>
              <li><input class="inputs" type="password" placeholder="Password" name="psw" required></li>
              <a href="users"><button class="button_default green">GO <i class="fa-regular fa-circle-right"></i></button></a>
            </form>
          </div>
