<div class="container_page d-flex">
  <div class="row">

    <div class="left_side col-6 justify-content-center">
      <%= link_to recipes_path do %>
        <%= image_tag "logo_full.png", alt: "Frydge logo" %>
      <% end %>
      <div class="search mt-4">
      <%# TODO - WORK out how to add sccs class to the searchbar %>
        <%# <input class="inputs" type="text" placeholder="Search.."> %>
        <%= render "shared/search_bar_home"%>
      </div>
      <%# <a><button class="button_default green">GO <i class="fa-regular fa-circle-right"></i></button></a> %>
    </div>

    <div class="right_side col-6 justify-content-around">
      <div class="textdescription text-center">
        <h5>frydg is on a delicious mission to make cooking fun, easy, and sustainable!</h5>
        <br>
        <br>
        <h5>Turn your ingredients into tasty treasures, save money, and cut food waste—all in one delicious app!</h5>
      </div>

    </div>
  </div>
</div>
