<div class="leftsidepage">

<p>fridge logo green</p>
<h1>frydg.</h1>
<h2>what's in yours?</h2>
<p>search bar</p>
<p>plus button</p>
<p>go button</p>

</div>

<div class="rightsidepage">

<p>"frydg is on a delicious mission to make cooking fun, easy, and sustainable!

Turn your ingredients into tasty treasures, save money, and cut food waste—all in one delicious app!"</p>

<p>sign in to:</p>
<h3>Open your</h3>
<h3><b>frydg.</b></h3>
<p>interactive fridge logo white</p>


</div>
