<div class="container d-flex">
  <div class="row">

    <div class="col-6">
      <%= cl_image_tag("https://res.cloudinary.com/dyqyteloe/image/upload/v1709743520/logo_full_arez0w.png",) %>
      <%= render "shared/search_bar" %>
      <button type="button">Add</button>
      <button type="button">Go!</button>
    </div>

    <div class="col-6">
      <p>frydg is on a delicious mission to make cooking fun, easy, and sustainable!</p>
      <p>Turn your ingredients into tasty treasures, save money, and cut food waste—all in one delicious app!</p>
      <div class="d-flex">
        <div class="d-flex">
          <%= cl_image_tag("https://res.cloudinary.com/dyqyteloe/image/upload/v1709744610/logo_small_dhd3yt.png",) %>
          <div>
            <p>sign in to:</p>
            <h3>Open your</h3>
            <h3><b>frydg.</b></h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
