<div class="container_page d-flex">
  <div class="row w-100">

    <div class="left_side col-8 justify-content-center w-66">
      <%= link_to recipes_path do %>
        <%= image_tag "logo_full.png", alt: "Frydge logo" %>
      <% end %>
      <div class="search mt-4">
      <%# TODO - WORK out how to add sccs class to the searchbar %>
        <%# <input class="inputs" type="text" placeholder="Search.."> %>
        <%= render "shared/search_bar_home"%>
      </div>
      <%# <a><button class="button_default green">GO <i class="fa-regular fa-circle-right"></i></button></a> %>
    </div>

    <div class="right_side col-4 justify-content-around w-33">
      <div class="textdescription text-center">
        <h4><strong>frydg. </strong>is on a delicious mission to make cooking fun, easy, and sustainable!</h4>
        <br>
        <br>
        <h4>Turn your ingredients into tasty treasures, save money, and cut food waste—all in one delicious app!</h4>
      </div>

    </div>
  </div>
</div>
