.button_default {
  border-radius: 30px;
  transition-duration: 0.4s;
  text-align: center;
  font-size: 18px;
  background-color: white;
  color: #2DD99C;
  border: 1.5px solid #2DD99C;
  padding: 3px 15px 3px 15px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}

// .search {
//   border: 1px solid #177152;
//   color: #2DD99C;
//   box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.288);
// }

.button_default:hover {
  background-color: #2DD99C;
  color: white;
  border: 2px solid white;
}

.round {
  padding: 0px;
  height: 50px;
  width: 50px;
  justify-content: center;
  font-size: 35px;
  // box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.288);
 }

.green {
  background-color: #2DD99C;
  color: white;
  border: 2px solid white;
}

.green:hover {
  background-color: white;
  color: #2DD99C;
  border: 2px solid #2DD99C;
}
