.card-product {
  overflow: hidden;
  height: 120px;
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 5px rgba(51, 51, 51, 0.288);
  /* height and width taken from figma */
  background-color: white;
  border: 2px solid #2DD99C;
  padding: 5px;
  &:hover {
    box-shadow: 2px 2px 5px 5px #2DD99C;
    transform: translate3D(0,-1px,0) scale(1.01);
  }
}

.card-product img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit:cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  a {
    text-decoration: none;
  }
}

.text-decoration {
  list-style-type: none;
  text-decoration: none!important;
}
