// this page is search results and links to the card_recipes html


.card_recipes_defaultv {
  position: relative;
  border-radius: 30px;
  height: 460px;
  width: 315px;
  margin: 20px;
  list-style-type: none;

  box-shadow: 2px 2px 5px 5px rgba(51, 51, 51, 0.288);
  /* height and width taken from figma */
  background-color: white;
  border: 2px solid #2DD99C;
  padding: 5px;
  text-decoration: none;
}


.card_recipes_defaultv:hover {
  border: 2px solid #2DD99C;
  box-shadow: 2px 2px 5px 5px #2DD99C;
  transform: translate3D(0,-1px,0) scale(1.01);
}

/* TODO wait for a push for standard image size */
.recipecards_img {
  /* height and width taken from figma */
  height: 280px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}

.bottomcontainer {
  padding: 10px;
}

.recipe_card_title {
  font-size: 22px;
  color: #177152;
  // color: #656565;
  text-align: start;
  margin-bottom: 5px;
}
.allergens {
  margin-right: 6px;
  max-width: 80px;
  list-style-type: none;
  color: #d92d6a;
  font-size: 18px;
  text-align: end;
  font-style: oblique;

  display: flex;
  column-gap: 8px;
  flex-direction: row;
}

.infograms {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  padding: 0px 20px;
  margin-top: auto;
  font-size: 14px;
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color:  #177152;
}

.infograms .fa-solid {
  font-size: 22px;
  color:  #177152;
}

.favoriting_index {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  font-size: 30px;
}
