// this page is search results and links to the card_recipes html

.card_recipes_default {
  position: relative;
  box-shadow: 2px 2px 5px 5px rgba(51, 51, 51, 0.288);
  /* height and width taken from figma */
  border-radius: 30px;
  height: 475px;
  width: 315px;
  padding: 15px;
  margin: 15px;

  color: black;
  background-color: white;

  text-align: start;
  font-size: 18px;
  border: 2px solid #2DD99C;

  list-style-type: none;
}

.card_recipes_default:hover {
  box-shadow: 2px 2px 5px 5px #2DD99C;
  transform: translate3D(0,-1px,0) scale(1.01);
}

/* TODO wait for a push for standard image size */
.recipe_img {
  /* height and width taken from figma */
  border-radius: 20px;
  height: 235px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.allergens {
  margin-left: 10px;
  max-width: 80px;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.342);
  font-size: 18px;

  display: flex;
  column-gap: 10px;
  flex-direction: row;
  align-items: center;
}

.infograms {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
  padding: 0px 20px;
  margin-top: auto;
  font-size: 14px;
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
