// removes padding-t from .navbar bootstrap class so that navbar fills the top.
.navbar {
  padding-top: 0px;
}

// .nav-all is the container for the whole navbar.
.nav-all {
  background: #2DD99C;
  flex-grow: 0;
  height: 110px;
}



// the width of our navbar logo
.logo img {
   width: 200px;
}
