.review-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.review {
  padding: 5px;
  background-color: rgba(0,0,0,.05);
  border-radius: 5px;
  width: 100%;
  @media (min-width: 800px) {
    width: calc(50% - 5px);
  }
  // @media (min-width: 1300px) {
  //   width: calc(33% - 7px);
  // }
  p {
    margin: 0;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 5px;
    .avatar {
      width: 30px;
      height: 30px;
      border: 1px solid gray;
    }
  }
  .comment {
    margin: 7px 0px;
    opacity: .7;
  }
}
