$background-color-on-hover: #ffffff;
$text-color: #ffffff;
$text-color-on-hover: $green;
$sidebar-width: 195px;
$box-shadow-color: rgba(0, 0, 0, 0.5);

.sidebar-all .offcanvas {
  margin-top: 97px;
  background: $green;
  width: $sidebar-width;
  box-shadow: 0 0 10px $box-shadow-color;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.offcanvas-header {
  justify-content: left;
  text-align: right;
  .btn-close, .btn-close-white {
    opacity: 1;
  }
}

.sidebar-all {
  a {
    font-size: 25px;
    color: $text-color;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    &:hover {
      background-color: $background-color-on-hover;
      color: $text-color-on-hover;
      transition: background-color 0.3s, color 0.3s;
    }
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
    color: $text-color;
    padding-left: 20px;
  }
}

.user-info .profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float:left;
  margin-left: 2%;
  margin-top: 2%;

}

.user-info .user-name {
  color: $text-color;
  h5{
    font-weight: 100;
  }
}

.quick-actions .action-link {
  color: $text-color;
  margin-top: 10px 0;
  display: block;
  &:hover {
    background-color: $background-color-on-hover;
    color: $text-color-on-hover;
  }
}

.card {
  --bs-card-bg:none;
  background-attachment: $green;
  color: $text-color;
  margin-top: 10px 0;
  display: block;
  padding: 0;
  .card-body {
    padding: 0;
  }
}
.nav-link h6{
  float: right;
}

.sidebar-footer {
  p{
    text-align: end;
    color: #ffffff;
    margin-right: 2%;
  }
}
@media (max-width: 768px) {
  .sidebar-all .offcanvas {
    width: 20%;
    margin-top: 0;
  }
  .sidebar-all a {
    font-size: 20px;
    padding: 15px 20px;
  }
  .sidebar-all h1 {
    font-size: 30px;
  }
}

@media (min-width: 1920px) {
  .sidebar-all .offcanvas {
    width: calc($sidebar-width * 1.2);
    margin-top: 0;
  }
  .sidebar-all a {
    font-size: calc(25px * 1.2);
    padding: 15px 20px;
  }
  .sidebar-all h1 {
    font-size: calc(40px * 1.2);
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
