.sidebar-all .offcanvas{
  margin-top: 97px;
  background: $green;
  width: 195px;
  box-shadow: 0px 0px 10px black;
  ul {
    list-style-type:none;
    margin-left: -20px;
  }
}

.offcanvas-header {
justify-content: left;
  text-align: right;
  margin-left: -15px;
  .btn-close .btn-close-black{
  $btn-close-opacity: 1;
  }
}

.sidebar-all {
a {
  font-size: 25px;
  color: #ffff;
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 40px;
  color: #ffff;
  margin-left:-2px;
  }
}

.nav-item1 {
  padding: 10px;
  margin: -10px;
}
