<div class="container">

      <div class="row">
          <h1 class="map-title">Food banks in your area</h1>
        <div class="d-flex flex-column justify-text-center map-text">
          <h5>"Don't have time to cook something <strong>sustainably scrumptous?</strong> Please don't let it go to waste..</h5>
          <h6> ..help feed people struggling with food insecurity, minimise UK food wastage and donate your unwanted food to foodbanks who get food to people who need it.<span style='font-size:30px;'>&#128591;</span></h6>
        </div>
        <div style="width: 100%; height: 600px; border-radius: 25px; padding: 10px; border: 2px solid #177152;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
